@import "../../index.scss";

.calendar-allMonths {
  width: 100%;
  // margin: 0 0.6rem;
  padding: 0.6rem;
  box-shadow: 0 10px 40px -5px rgba(139, 90, 43, 0.2),
    0 4px 16px -4px rgba(139, 90, 43, 0.15);
  border: 1px solid #85614733;
  border-radius: 0.1rem;
  background: #f2ece3;

  .calendar-title {
    padding: 0.5rem;
    color: $redDay2;
    font-size: 1.2rem;
  }
  .calendar-monthsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // MOBILE: 4 po redu
    gap: 0.5rem;
    padding-bottom: 0.3rem;
    .calendar-month {
      background: #f9f6f180;
      color: #856147;
      text-align: center;
      padding: 0.8rem 0.5rem;
      &:hover {
        background: #e4d8d2;
      }
    }
  }

  .calendar-allMonths-wrapper {
    box-shadow: 0 10px 40px -5px rgba(139, 90, 43, 0.2),
      0 4px 16px -4px rgba(139, 90, 43, 0.15);
    border: 1px solid #85614733;
    border-radius: 0.1rem;
    background: #f2ece3;
    width: 100%;
    table-layout: fixed;
    thead {
      tr {
        th {
          border-top-left-radius: 0.1rem;
          border-top-right-radius: 0.1rem;
          padding: 0.5rem;
          text-align: center;
          background: #f2ece3;
          justify-content: space-between;
          width: 100%;
          h2 {
            text-align: center;
            display: flex;
            color: white;
            font-size: 1.4rem;
            color: $redDay2;
            font-weight: 600;
            img {
              height: auto;
              width: 150px;
            }
          }
        }
      }
    }
    tbody {
      // background: #f9f6f180;
      tr {
        // background: $orange0;
        background: #f9f6f180;
        td {
          border-radius: 0.1rem;
          // color: $grey4;
          margin: 0.3rem;
          padding: 0.8rem 0;
          text-align: center;
          a {
            // color: $blue1;
            // color: $redDay2;
            color: #856147;
            // text-decoration: underline;
            font-weight: normal;
          }
        }
      }
    }
  }
  .ornamet-line {
    background-color: $orange0;
    text-align: center;
    padding: 0.3rem 0;
    box-shadow: 0 0px 2px #b5904f;
    img {
      // text-align: center;
      width: 40%;
    }
  }
}

@media screen and (min-width: $large) {
  .calendar-allMonths {
    margin: 0;

    .calendar-monthsGrid {
      grid-template-columns: repeat(6, 1fr);
    }
    .calendar-allMonths-wrapper {
      // border-spacing: 0.8rem 0.5rem;
      // margin: 0;
      // width: 100%;
      thead {
        tr {
          th {
            h2 {
              font-size: 1.2rem;
            }
          }
        }
      }
      tbody {
        tr {
          // height: 100%;
          td {
            // height: 100%;
            a {
              font-size: 1rem;
            }
            :hover {
              text-decoration: underline;
              // background: $redDay0;
            }
          }
        }
      }
    }
  }
}
