@import "../../index.scss";

.calendar-allMonths {
  // border-radius: 0.5rem;
  margin: 1rem 0;
  width: 100%;
  // box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
// background: $blue1;
  thead {
    tr {
      th {
        // background: $grey1;
        background: $blue1;
        padding: 0.3rem;
        text-align: left;
        h2 {
          padding: 0 0.3rem;
          color: $grey4;
          color: white;
          font-size: 1.2rem;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        // background: $grey0;
        background: white;
        border-radius: 0.3rem;
        color: $grey4;
        margin: 0.3rem;
        padding: 0.8rem 0;
        text-align: center;
        a {
          // color: $grey4;
          color: $blue1;
          text-decoration: underline;
          h3 {
            font-weight: normal;
          }
        }
      }
    }
  }
}
