@import "../../index.scss";

.calendar-allMonths {
  .calendar-allMonths-wrapper {
    // margin: 1rem 0;
    width: 100%;
    box-shadow: 0 0px 3px $grey2;
    border-radius: 0.3rem;
    thead {
      tr {
        th {
          border-radius: 0.3rem;
          padding: 0.5rem;
          text-align: center;
          background: #f6e7c4;
          justify-content: space-between;
          width: 100%;
          h2 {
            text-align: center;
            display: flex;
            padding: 0 1rem;
            color: white;
            font-size: 1.4rem;
            color: $redDay2;
            // font-weight: 900;
            img {
              height: auto;
              width: 150px;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border-radius: 0.3rem;
          color: $grey4;
          margin: 0.3rem;
          padding: 0.8rem 0;
          text-align: center;
          a {
            color: $blue1;
            text-decoration: underline;
            h3 {
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  .ornamet-line {
    background-color: $orange0;
    text-align: center;
    padding: 0.3rem 0;
    box-shadow: 0 0px 2px #b5904f;
    img {
      // text-align: center;
      width: 40%;
    }
  }
}

@media screen and (min-width: 768px) {
  .calendar-allMonths {
    .calendar-allMonths-wrapper {
      thead {
        tr {
          th {
            h2 {
              font-size: 1.6rem;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            a {
              h3 {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}
