@import "../../index.scss";

.today__box {
  .today-border {
    height: 5px;
    background: linear-gradient(to right, #732639, #dfa620, #732639);
    width: 100%;
  }
  .today__box-wrapper {
    margin-bottom: 1rem;
    position: relative;
    background: #f9f6f180;
    padding: 2rem;
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 40px -5px rgba(139, 90, 43, 0.2),
      0 4px 16px -4px rgba(139, 90, 43, 0.15);
    .today-day {
      color: #856147;
      letter-spacing: 0.05rem;
      font-size: 1.2rem;
    }
    .today-dayNum {
      font-size: 3.75rem;
      font-weight: 600;
      padding-top: 0.5rem;
      color: #732639;
    }
    .today-month {
      color: #856147;
      padding-bottom: 1rem;
      font-size: 1.2rem;
    }
    .today-head {
      // color: #856147;
      color: #8a6f5c;
      letter-spacing: 0.05rem;
      margin-top: 1rem;
    }
    .today-center {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.5rem auto;
      .line {
        background: linear-gradient(to right, transparent, #dfa620);
        // border: 1px solid red;
        width: 90px;
        height: 1px;
      }
      svg {
        margin: 0 1rem;
        color: #dfa620;
      }
      .line.right {
        background: linear-gradient(to right, #dfa620, transparent);
      }
    }
    .today-title {
      margin: 1.5rem auto;
      color: #362417;
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: 600;
    }
    .today-post {
      display: flex;
      padding: 1.5rem 0 1rem 0;
      border-top: 1px solid #cfc2af;
      justify-content: center;
      .today-post-wrapper {
        background: #6170431a;
        display: flex;
        align-items: center;
        width: auto;
        padding: 0 0.8rem;
        width: 120px;
        .circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #617043;
          margin-right: 0.5rem;
        }
        span {
          padding: 0.5rem 0;
          // margin: 1.5rem 0;

          color: #617043;
        }
      }
    }
    .corners-leftTop {
      position: absolute;
      left: 1rem;
      top: 1rem;
      width: 2rem;
      height: 2rem;
      border-left: 2px solid #dfa62099;
      border-top: 2px solid #dfa62099;
    }
    .corners-leftBotom {
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-left: 2px solid #dfa62099;
      border-bottom: 2px solid #dfa62099;
      bottom: 1rem;
      left: 1rem;
    }
    .corners-rightTop {
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-right: 2px solid #dfa62099;
      border-top: 2px solid #dfa62099;
      right: 1rem;
      top: 1rem;
    }
    .corners-rightBottom {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      border-right: 2px solid #dfa62099;
      border-bottom: 2px solid #dfa62099;
    }
  }
}
@media screen and (min-width: $large) {
  .today__box {
    .today__box-wrapper {
      .today-title {
        margin: 1rem auto;
        font-size: 1.25rem;
        line-height: 1.4rem;
      }
         .today-post {

         }
    }
  }
}
