@import "../../index.scss";

.kalendar {
  margin-top: 1rem;
  .kalendar-wrapper {
    padding: 0 0.4rem;
    .kalendar-left {
      width: 100%;
    }
  }
}

@media screen and (min-width: $large) {
  .kalendar {
    width: 1280px;
    margin: 0 auto;
    .kalendar-wrapper {
      margin: 2rem auto;
      display: flex;
      .kalendar-left {
        display: flex;
        flex-direction: column;
        width: calc(100% - 380px);
        margin-right: 20px;
      }
      .kalendar-right {
        width: 380px;
        padding: 0 20px;
        margin: 0 auto;
      }
    }
  }
}
