@import "../../../index.scss";

.next-month-box {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 0.1rem;
  background: #f2ece3;
  font-weight: 600;
  color: #856147;
  line-height: 1.4rem;
  box-shadow: 0 10px 40px -5px rgba(139, 90, 43, 0.2),
    0 4px 16px -4px rgba(139, 90, 43, 0.15);
  border: 1px solid #85614733;
  .next-month-box-wrapper {
    background: #f2ece3;
    padding: 0.4rem 0.5rem;
    position: relative;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    a {
      font-weight: 600;
      font-size: 1rem;
      color: #732639;
      text-decoration: underline;
    }
  }
}

.next-month-box.top {
  top: 0;
  z-index: 10;
}

.next-month-box.close {
  display: none;
}

@media screen and (min-width: $medium) {
  .next-month-box {
    margin: 0 0 1.5rem 0;
    padding: 0.8rem;
    font-size: 1.25rem;
    .next-month-box-wrapper {
      font-size: 1.2rem;
      a {
        font-size: 1.2rem;
      }
    }
  }
}
