@import "../../index.scss";
.home {
  .home__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0.8rem auto;
    padding: 0 0.4rem;
    .calendar-2026 {
      margin-top: 1rem;
      h2 {
        font-size: 1.35rem;
      }
      p {
        font-size: 1.2rem;
        strong {
          font-size: 1.1rem;
        }
        a {
          font-size: 1.1rem;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
    .home__wrapper-left {
      .home-afterZone {
        background: $dark0;
        padding: 0 1rem;
        border-radius: 0.3rem;
        box-shadow: 0 0 3px $dark2;
        .home__molitva {
          position: relative;
          text-align: center;
          margin: 1rem 0;
          padding: 1rem 1.5rem;
          padding-left: 2rem;
          img {
            padding-top: 1.8rem;
            width: 80%;
            margin-bottom: 1rem;
          }
          h2 {
            padding: 1rem 0;
            line-height: 1.8rem;
            font-size: 1.8rem;
            color: $redDay2;
            text-align: center;
            font-weight: 600;
            letter-spacing: 1px;
          }
          p {
            font-size: 1.3rem;
            a {
              font-size: 1.3rem;
              color: $redDay2;
              font-weight: 900;
              text-decoration: underline;
            }
          }
          .bodyText > div:first-of-type::first-letter {
            font-size: 2rem;
            color: $redDay2;
            font-weight: 600;
            margin-right: 2px;
          }
          .home__molitva-wrapper{
            position: relative;
            z-index: 1;
          }
        }
        .home__molitva::before {
          position: absolute;
          content: "";
          left: 1.3rem;
          right: 1.3rem;
          top: 1.3rem;
          bottom: 1.3rem;
          border: 2px solid #b5904f;
          border-radius: 0.3rem;
          a {
            cursor: pointer;
          }
        }
        .home__molitva::after {
          position: absolute;
          content: "";
          left: 0.3rem;
          right: 0.3rem;
          top: 0.3rem;
          bottom: 0.3rem;
          border: 5px solid #a57f3c;
          border-radius: 0.5rem;
          a {
            cursor: pointer;
          }
        }
      }
    }
    .home__wrapper-right {
      display: flex;
      flex-direction: column;
      width: 380px;
      padding: 0 20px;
      margin: 0 auto;
      .calendar-2026.zadusnice {
        font-style: italic;
        line-height: 1.4rem;
      }
    }
  }
}
@media screen and (min-width: $large) {
  .home {
    padding: 0;
    width: 1280px;
    margin: 2rem auto;
    .home__wrapper {
      display: flex;
      flex-direction: row;
      .calendar-2026 {
        margin-top: 1rem;
        margin-bottom: 3rem;
        h2 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1.4rem;
          strong {
            font-size: 1.35rem;
          }
          a {
            font-size: 1.35rem;
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }
      .home__wrapper-left {
        margin-right: 20px;
        width: calc(100% - 380px);
        .home-afterZone {
          display: flex;
          gap: 0.5rem;
          .home__molitva {
            width: 450px;
          }
          .home__links-wrapper {
            width: 350px;
          }
        }
      }
    }
  }
}
