@import "../../index.scss";
.home {
  .home__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0.8rem auto;
    padding: 0 0.4rem;
    .home__wrapper-left {
      .calendar-2026 {
        margin-top: 1rem;
        h2 {
          font-size: 1.1rem;
        }
        p {
          font-size: 1.1rem;
          a {
            font-size: 1.1rem;
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }
      .home__molitva {
        position: relative;
        background: $grey0;
        text-align: center;
        margin: 1rem 0;
        padding: 2rem;
        h2 {
          font-size: 1.4rem;
          padding: 1rem 0;
        }
        .home__molitva-wrapper::before {
          position: absolute;
          content: "";
          left: 1rem;
          right: 1rem;
          top: 1rem;
          bottom: 1rem;
          border: 3px solid white;
          a {
            cursor: pointer;
          }
        }
      }
    }
    .home__wrapper-right {
      width: 340px;
      padding: 0 20px;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: $medium) {
  .home {
    padding: 0;
    width: 1200px;
    margin: 2rem auto;
    .home__wrapper {
      display: flex;
      flex-direction: row;
      .home__wrapper-left {
        margin-right: 20px;
        width: calc(100% - 340px);
        .calendar-2026 {
          margin-top: 1rem;
          h2 {
            font-size: 1.4rem;
          }
          p {
            font-size: 1.2rem;
            a {
              font-size: 1.2rem;
              font-weight: 600;
              text-decoration: underline;
            }
          }
        }
        .home__molitva {
          width: 500px;
        }
      }
    }
  }
}
