@import "../../index.scss";

.zadusnice {
  width: 100%;
  max-width: 500px;
  background: $orange0;
  padding: 0 1rem;
  box-shadow: 0 0px 3px $grey2;
  border-radius: 0.3rem;
  table {
    width: 100%;
    // border-bottom: 1px solid $redDay2;
    border-collapse: collapse;
    thead {
      display: table-header-group;
      vertical-align: middle;
      unicode-bidi: isolate;
      tr {
        background: $redDay1;
        // background: #a71e06;
        th {
          height: 50px;
          h2 {
            margin: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.05rem;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: center;
          min-width: 120px;
          padding: 0.4rem 0;
          border-bottom: 2px solid $redDay2;
          font-size: 1.15rem;
          a {
            font-size: 1.15rem;
            color: $grey7;
          }
        }
        &:last-child {
          td {
            border-bottom: none; // <<< uklanja border samo na poslednjem redu
          }
        }
      }
    }
    thead tr th h2 {
      font-size: 1.2rem;
      height: 1.35rem;
      line-height: 1.3rem;
      padding-left: 0.3rem;
      color: #f6e7c4;
    }
  }
}
