@import "../../index.scss";

.zadusnice {
  width: 100%;
  max-width: 500px;
  table {
    width: 100%;
    border-bottom: 1px solid grey;
    border-collapse: collapse;
    thead {
      display: table-header-group;
      vertical-align: middle;
      unicode-bidi: isolate;
    }
    tbody {
      tr {
        td {
          min-width: 120px;
          padding: 0.4rem;
          border-bottom: 1px solid rgb(197, 197, 197);
          a {
            text-decoration: underline;
            color: blue;
          }
        }
      }
    }
    thead tr th {
      background: $grey1;
      font-size: 1.2rem;
      height: 2rem;
      line-height: 2rem;
      padding-left: 0.3rem;
      color: $grey4;
    }
  }
}
