@import "../../index.scss";

.names {
  display: grid;
  gap: 1rem;
  table {
    background: #f9f6f1;
    thead {
      tr {
        th {
          padding: 0.3rem;
          background: grey;
          color: white;
        }
      }
    }
    tbody {
      tr {
        padding: 0.15rem;
        td {
          padding: 0.6rem 0.4rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}
