@import "../../../index.scss";

.navBar {
  display: none;
}

@media screen and (min-width: $medium) {
  .drop_down_menu {
    position: absolute;
    background: white;
    list-style-type: none;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  .navBar {
    flex: 3;
    display: flex;
    background: $orange0;
    box-shadow: 0 0 3px $grey2;
    .navBar-wrapper {
      display: flex;
      width: 1200px;
      margin: 0 auto;
      .links {
        flex: 1;
        width: 430px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-link-wrapper {
          display: flex;
          height: 100%;
          width: 220px;
          align-items: center;
          .nav-link {
            display: flex;
            font-size: 1.35rem;
            color: $grey7;
            font-weight: 700;
            width: 100%;
            vertical-align: middle;
            justify-content: center;
            &.active {
              // color: $blue1;
              color: $redDay1;
              font-weight: bold;
              text-shadow: 0 0 1px $redDay1;
            }

            //to check again when navbar is finished
            .drop_down_menu {
              width: 300px;
              display: flex;
              flex-wrap: wrap;
              top: 4rem;
              box-shadow: 1px 2px 2px grey;
              padding: 0.3rem 0.4rem;
              li {
                color: black;
                font-size: 1.1rem;
                margin-right: 2rem;
                padding: 0.2rem 0;
                flex: 1 0 34%;
                margin: 5px;
              }
            }
            .drop_down_menu.close {
              display: none;
            }
          }
        }

        .botDiv {
          height: 0;
          position: relative;
          display: inline;
          z-index: 99999;
          .drop_down_menu {
            width: 450px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.3rem;
            top: 40px;
            left: -240px;
            box-shadow: 1px 2px 3px rgb(54, 54, 54);
            padding: 0.2rem;
            li {
              width: 100%;
              padding: 0 0.2rem;
              a {
                display: inline-block;
                min-width: 100%;
                border-radius: 0.3rem;
                color: black;
                line-height: 2.5rem;
                align-items: center;
                vertical-align: middle;
                font-size: 1.1rem;
                flex: 0 0 50%;
                margin: 0.1rem;
                padding: 0.3rem 1rem;
                box-shadow: 0 0 5px $grey2;
                &:hover {
                  background: $grey1;
                }
              }
            }
          }
          .drop_down_menu.small {
            width: 250px;
            grid-template-columns: 1fr;
          }
          .drop_down_menu.close {
            display: none;
          }
        }
      }
      .links.last {
        width: 40px;
        height: auto;
        cursor: pointer;
        .nav-link-wrapper {
          width: auto;
          height: 100%;
          vertical-align: middle;
          align-items: center;
          display: flex;
          img {
            width: 40px;
            height: auto;
          }
          .botDiv {
            display: inline;
            position: relative;
            .drop_down_menu {
              z-index: 100;
              width: 250px;
              display: grid;
              grid-template-columns: 1fr;
              top: 40px;
              left: -250px;
              box-shadow: 1px 2px 3px rgb(0, 0, 0);
              padding: 0.3rem 0.4rem;
              a {
                border-radius: 5px;
                color: black;
                line-height: 35px;
                align-items: center;
                vertical-align: middle;
                font-size: 1.1rem;
                flex: 0 0 50%;
                margin: 3px 0;
                z-index: +999;
                img {
                  position: relative;
                  width: 30px;
                  height: 30px;
                  margin: 0 0.3rem;
                  top: 50%;
                  transform: translateY(-50%);
                }
                &:hover {
                  background: rgb(220, 220, 220);
                }
              }
            }
            .drop_down_menu.close {
              display: none;
            }
          }
        }
      }
      .navBar__logo {
        display: flex;
        justify-content: center;
        align-items: center; // vertikalno centriranje
        text-align: center;
        // text-align: center;
        height: 100%;
        width: 300px;
        padding: 0 1rem;
        margin: 0;
        // border: 1px solid red;
        // align-items: center;
        // display: block;
        img {
          // display: block;
          height: 60px;
          width: auto;
        }
      }
    }
  }
}
