@import "../../index.scss";

.boxWrapper {
  .artBox-wrapper {
    height: 100%;
    display: flex;
    .artBox-img {
      min-width: 140px;
      img {
        width: 140px;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
    .artBox-desc {
      display: flex;
      flex-direction: column;
      h3 {
        color: white;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.2rem;
      }
    }
  }
}

.boxWrapper.topNews {
  background: $blue1;
  border-radius: 0.3rem;
  .artBox-wrapper {
    flex-direction: column;
    width: 100%;
    padding: 0 0.6rem;
    align-items: center;
    .artBox-img {
      flex: 1;
      aspect-ratio: 3 / 2;
      width: 100%;
      height: auto;
      img {
        width: 100%;
        border-radius: 0;
      }
    }
    .artBox-desc {
      width: 100%;
      border-radius: 0.3rem;
      border: 1px solid white;
      padding: 0.3rem;
      margin: 0.6rem;
      height: 80px;
      a {
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: center;
        order: 2;
        text-align: center;
        h3 {
          display: inline-block;
          font-weight: bold;
          font-size: 1.4rem;
          line-height: 1.6rem;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width: $medium) {
  .boxWrapper {
    color: white;
    display: flex;
    flex-direction: column;
    .artBox-wrapper {
      padding: 0;
      .artBox-desc {
        h3 {
          font-size: 1.2rem;
          line-height: 1.4rem;
          margin: 0;
        }
      }
    }
  }
}
