@import "../../index.scss";
.sticky-banner {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  .sticky-banner-box {
    .sticky-banner-wrapper {
      margin: 0 auto;
      height: 100%;
      text-align: center;
      img {
        width: auto;
        height: 100%;
      }
    }
    .closeButton {
      position: absolute;
      cursor: pointer;
      top: -25px;
      right: 15px;
    }
  }
}

@media screen and (min-width: $medium) {
  .sticky-banner {
    margin-top: 2.5rem;
    .sticky-banner-box {
      position: relative;
      width: 728px;
      .closeButton {
        position: absolute;
        cursor: pointer;
        top: -25px;
        right: 0;
      }
    }
  }
}
