@import "../../../index.scss";

.side-drawer {
  overflow-y: auto;
  will-change: transform;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70%;
  // background: linear-gradient(to top, $grey1, $grey0);
  background: #f2ece3;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c4a052' fill-opacity='0.08'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  transform: translateX(-105%);
  transition: transform 0.5s ease-out;
  z-index: 99999;
  box-shadow: 0 1px 15px $grey2;
  .logo {
    display: flex;
    margin: 1.5rem 0;
    align-items: center;
    text-align: center;
    img {
      margin: 0 auto;
      width: 60%;
      height: auto;
    }
  }
  ul {
    padding: 0 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: left;
    a {
      font-weight: 600;
      color: $grey7;
    }
  }
  .nameTitle {
    margin-top: auto;
    // color: $grey7;
    color: #856147;
    //  color: #732639;
    font-weight: 600;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.8rem 0;
    font-style: italic;
  }
  li {
    .top-link2 {
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid $grey7;
      font-size: 1.25rem;
      padding: 0.4rem 0;
      text-decoration: none;
      // color: $dark5;
      color: #732639;
      // color: #856147;
      font-weight: bold;

      &.active {
        font-weight: bold;
      }
    }
    .subUl {
      margin: 0;
      padding: 0.3rem 1rem;
      text-align: left;
      padding-bottom: 0.5rem;
      li {
        padding: 0.25rem 0;
        a {
          font-size: 1.2rem;
          color: #856147;
        }
      }
    }
  }
  &.open {
    pointer-events: auto;
  }
}

.side-drawer.open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .side-drawer {
    display: none;
  }
}
