@import "../../../index.scss";
.toggle__button {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  height: 50px;
  width: 3.4rem;
  justify-content: center;
  align-items: center;
}
.toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.8rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1px 3px;
  z-index: 100;
  &:focus {
    outline: none;
  }
  .toggle-button-line {
    width: 2rem;
    height: 0.35rem;
    border-radius: 5px;
    background: $grey7;
    transition: all 0.1s linear;
    &:active {
      background: $dark2;
    }
  }
}
.toggle > :nth-child(2) {
  background: $dark3;
  margin-left: -3px;
}
@media screen and (min-width: 768px) {
  .toggle {
    display: none;
  }
}
