@import "../../../index.scss";

.simpleBox {
  //   margin: 0.8rem auto;
  padding: 0.6rem 0.3rem;
  background: #99a57f33;
  box-shadow: 0 10px 40px -5px rgba(139, 90, 43, 0.2),
    0 4px 16px -4px rgba(139, 90, 43, 0.15);
  border: 1px solid #61704333;
  h2{
    font-size: 1.2rem;
  }
  h2,
  a {
    color: #732639;
    padding: 0.3rem 0.3rem;
    line-height: 1.6rem;
  }
  p {
    padding: 0.5rem .3rem;
    color: #362417b3;
    line-height: 1.4rem;
  }
  a {
    display: block;
    padding: 0.3rem;
    &:hover {
      text-decoration: underline;

      // border-bottom: 1px solid #732639;
    }
  }
  //   b {
  //     color: #732639;
  //     padding: 0.6rem 0.3rem;
  //   }
}
