@import "../../index.scss";
.simplePage {
  padding: 1rem 0.8rem;
  display: flex;
  h1 {
    display: inline-block;
    // color: $barGreen4;
    color: $redDay2;
    font-size: 1.4rem;
    line-height: 1.8rem;
    border-bottom: 3px solid $redDay2;
    margin: 2rem 0 1rem 0;
  }
  p {
    padding-bottom: 3rem;
    font-size: 1.1rem;
    line-height: 1.25;
  }
  b {
    font-size: 1.1rem;
  }
  ul {
    padding: 0.2rem 0 0.2rem 1.6em;
    li {
      font-size: 1.1rem;
      padding: 0.2rem 0;
    }
  }
  h2 {
    font-size: 1.25rem;
    margin: 1rem 0 0.5rem 0;
  }
  a {
    font-size: 1.15rem;
  }
}
@media screen and (min-width: $medium) {
  .simplePage {
    // display: flex;
    padding: 2rem;
    min-height: 560px;

    .simplePage-left {
      // width: calc(100% - 340px);
      width: 800px;
      margin: 0 auto;
      // border: 1px solid red;
      h1 {
        font-size: 1.6rem;
        border-bottom: 4px solid $redDay2;
      }
      h2 {
        font-size: 1.4rem;
        color: $redDay2;
      }
      p,
      b,
      a,span {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding-bottom: 5rem;
      }
      h1 {
        font-size: 2rem;
        line-height: 2.4rem;
        margin-bottom: 1rem;
      }
      // a {
      //   font-size: 1.2rem;
      // }
    }
    .simplePage-right {
    }
  }
}
