@import "../../index.scss";

.kalendarGodina {
  margin-top: 1rem;
  .kalendarGodina-wrapper {
    padding: 0 0.4rem;
    .kalendarGodina-right {
      gap: 1rem;
    }
  }
}
@media screen and (min-width: $medium) {
  .kalendarGodina {
    width: 1200px;
    margin: 2rem auto;
    .kalendarGodina-wrapper {
      display: flex;
      .kalendarGodina-left {
        width: calc(100% - 340px);
        margin-right: 20px;
      }
      .kalendarGodina-right {
        display: flex;
        flex-direction: column;
        width: 340px;
        padding: 0 20px;
        gap: 1.5rem;
      }
    }
  }
}
