@import "../../index.scss";

.kalendarGodina {
  margin-top: 1rem;
  .kalendarGodina-wrapper {
    padding: 0 0.4rem;
  }
}

@media screen and (min-width: $medium) {
  .kalendarGodina {
    padding: 2rem 0;
    width: 1200px;
    margin: 2rem auto;
    .kalendarGodina-wrapper {
      display: flex;
      // padding: 0;
      // margin: 2rem auto;
      .kalendarGodina-left {
        width: calc(100% - 340px);
        margin-right: 20px;
      }
      .kalendarGodina-right {
        width: 340px;
        padding: 0 20px;
      }
    }
  }
}
