@import "../../index.scss";

.footer {
  position: relative;
  z-index: +100;
  background: #571929;
  color: white;
  font-family: Arial, sans-serif;
  /* 2. Kratak Opis Sajta */
  .footer-border{
    height: 5px;
    background: linear-gradient(to right, #732639, #dfa620, #732639);
    width: 100%;
  }
  .footer-description p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.9em;
    color: $grey5;
  }

  /* 3. Kolone (podrazumevani Mobile-First raspored) */
  .footer-columns {  padding: 30px 20px;
    /* Na mobilnom, sekcije (kolone) se ređaju jedna ispod druge */
    display: block;
  }

  /* Stilovi za svaku sekciju/kolonu */
  .footer-columns section {
    margin-bottom: 1.5rem;
  }

  /* Stilovi za naslove sekcija */
  .footer-columns div {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.1rem;
    color: #dfa620;
    font-weight: normal;
    padding-bottom: 0.3rem;
    margin-bottom: 0.8rem;
  }

  /* Stilovi za liste */
  .footer-columns ul {
    list-style: none; /* Uklanjanje podrazumevanih markera */
    padding: 0;
    margin: 0;
  }

  /* Stilovi za pojedinačne stavke liste */
  .footer-columns li {
    margin-bottom: 0.3rem;
  }

  /* Stilovi za linkove */
  .footer-columns a, p {
    text-decoration: none;
    color: #f6f3eeb3;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1.3rem;
    transition: color 0.3s;
    i {
      margin-right: 0.2rem;
    }
  }

  .footer-columns a:hover {
    color: #dfa620; /* Svetlozelena, za hover efekat */
    // text-decoration: underline;
  }

  .footer-copyright {
    text-align: center;
    border-top: 1px solid $grey7;
    padding: 1rem 0;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #dad6d0b3;
    text-shadow: 0 0 1px $grey1;
    font-weight: normal;
  }
  .home__section5-bottom {
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 2rem 0;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    // margin-top: 3rem;
    .footer-columns {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      gap: 3rem;
      text-align: left;
    }
    .footer-columns section {
      flex: 1;
      min-width: 200px;
      margin-bottom: 0;
    }
    .footer-description p {
      max-width: 800px;
      margin: 0 auto 30px auto;
    }
  }
}
