@import "../../index.scss";

.footer {
  position: relative;
  z-index: +100;
  background: $grey7;
  .home__section5-bottom {
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 2rem 0;
  }
}
