@import "../../index.scss";

.bars {
  min-width: 300px;
  height: 50px;
  min-height: 35px;
  z-index: +999;
  .bars__logo {
    padding: .3rem;
    height: 3.5rem;
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    img {
      height: 100%;
      width: auto;
      // color: $dark1;
      // font-size: 2.2rem;
    }
  }
}
@media screen and(min-width:$medium) {
  .bars {
    display: flex;
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    padding: 0 1rem;
    border-bottom: 1px solid $silver1;
    .bars__logo {
      height: 5rem;
      img {
        padding: 0 2rem;
        // font-size: 3.5rem;
      }
    }
  }
}
@media screen and(min-width:$large) {
  .bars {
    width: 1400px;
    .bars__links {
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
