$small: 300px;
$medium: 768px;
$large: 1280px;
$extraLarge: 1368px;

body {
  background: #f7f1e3;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  font-family: "EB Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0 0;
  padding: 0 0;
  font-size: 16px;
  box-sizing: border-box;
  transition: 2s all east-out;
  text-decoration: none;
}

$blue1: #1565c0;

$orange0: #fffef9;
$orange1: #fff09e;
$orange2: #ff642d;

$dark0: #f7eedd;
$dark1: #eedcb6;
$dark2: #d7ac53;
$dark3: #ac8228;
$dark4: #674e18;
$dark5: #221a08;

$grey0: #f3f3f3;
$grey1: #e9e9e9;
$grey2: #a0a0a0;
$grey3: #6b6969;
$grey4: #484848;
$grey5: #333333;
$grey6: #252525;
$grey7: #332d28;

$redDay0: #df2525;
$redDay1: #b80b0b;
$redDay2: #8b2e2e;

.banner-wrapper {
  display: flex;
  margin: 1.6rem auto;
  // padding: 1.6rem auto;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  // width: 300px;
  // height: 250px;
}

.banner-wrapper.bilbord,
.banner-wrapper.fix-size-horizontal {
  margin: 2rem auto;
  height: 100px;
  width: 320px;
}

.banner-wrapper.bilbord > :first-child,
.banner-wrapper.fix-size-horizontal > :first-child {
  position: relative;
  z-index: 0;
}
.banner-wrapper.bilbord,
.banner-wrapper.fix-size-horizontal {
  position: relative;
  background: $orange0;
  box-shadow: 0 0 2px $grey2;
  &::before {
    content: "OGLAS";
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: $grey5;
  }
}

@media screen and (min-width: 1024px) {
  .banner-wrapper.xl_sticky {
    left: 20px;
    top: 0;
    margin: 1rem auto;
    position: sticky;
    order: 2;
    // height: 250px;
    // height: calc(100% - 1200px);
    // height: 100%;
    // border: 1px solid red;
    // justify-content:;
  }
  .banner-wrapper.bilbord {
    margin: 3rem auto;
    // padding-bottom: 10rem;
    height: 250px;
    width: 970px;
    &::before {
      letter-spacing: 3px;
      font-size: 1.2rem;
      // padding-bottom: 2rem;
    }
  }
  .banner-wrapper.fix-size-horizontal {
    width: 728px;
    height: 90px;
    &::before {
      letter-spacing: 3px;
      font-size: 1.2rem;
    }
  }
}
