$small: 300px;
$medium: 768px;
$large: 1024px;
$extraLarge: 1368px;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0 0;
  padding: 0 0;
  font-size: 16px;
  box-sizing: border-box;
  transition: 2s all east-out;
  text-decoration: none;
}

.banner-wrapper {
  display: flex;
  margin: 1.6rem auto;
  // padding: 1.6rem auto;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  // width: 300px;
  // height: 600px;
}
// .banner-wrapper.calendar {
//   margin: 0.3rem auto;
// }
$green1: #34c118;
$green2: #0d6d2f;
$green3: #0b5b27;
$green4: #09491f;
$green5: #0c3d1d;

$barGreen1: #67cbb4;
$barGreen2: #39a78e;
$barGreen3: #215f51;
$barGreen4: #1a4c40;
$barGreen5: #153d33;

$orange0: #f1e5d6;
$orange1: #d09850;
$orange2: #965315;
$orange3: #7c4512;
$orange4: #693d0b;

$dark1: #d8a68d;
$dark2: #c57b57;
$dark3: #ab603b;
$dark4: #724027;
$dark5: #392014;

$eggShell: #e7e4ce;
$eggShell2: #bcb476;
$eggShell3: #898143;
$eggShell4: #55502a;

$silver0: #609aa2;
$silver1: #2c7983;
$silver2: #235d64;
$silver3: #1c4d53;
$silver4: #1d4d55;
$silver5: #153a3f;

$grey0: #f3f3f3;
$grey1: #d6d6d6;
$grey2: #a0a0a0;
$grey3: #6b6969;
$grey4: #484848;
$grey5: #333333;
$grey6: #252525;

$redDay0: #df2525;

@media screen and (min-width: 1024px) {
  .banner-wrapper.xl_sticky {
    left: 20px;
    top: 0;
    margin: 1rem auto;
    position: sticky;
    // height: 250px;
    // height: calc(100% - 1200px);
    // height: 100%;
    // border: 1px solid red;
    // justify-content:;
  }
}
