@import "../../index.scss";
.zadusnice {
  .mainTitle {
    th {
      background: $blue1;
      color: white;
      // color: red;
      font-size: 1.4rem;
      padding: 0.2rem 0;
    }
  }
  .monthTitle {
    // background: $eggShell;
    background: $grey1;
    max-height: 10px;
    line-height: 20px;
    text-transform: capitalize;
    a {
      // color: $eggShell4;
      color: $blue1;
    }
  }
  tr {
    td {
      h3 {
        a {
          text-decoration: none;
          font-weight: 500;
          color: $grey5;
        }
      }
    }
  }
}
